<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="post.css">
</head>
<body>
    <!-------- header ------->
    <div class="motto">
        <p>Change your thoughts and change your world.</p>
        <!-- <p>learning and excellence</p> -->
    </div>
    <h1>welcome to <span>whiteNews</span></h1>
    <header>
        <nav id="top">
            <img src="/images/logo.jpeg" alt="school logo">
            <ul>
                <li><a href="post.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></l>
            </ul>
        </nav>
    </header>

    <!-- About us -->
    <section class="about">
            <h1>about us</h1>
            <div class="row">
                <div class="about-col">
                    <h3>mission</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio perspiciatis omnis quaerat harum modi fugit quo, praesentium tempora maiores Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in repellendus molestias commodi molestiae nisi, consectetur quasi ut quas ex consequuntur delectus fugit quisquam officiis facilis eius et voluptates eligendi Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus earum placeat facere quasi beatae facilis ipsa esse, expedita totam inventore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius, harum officia, saepe nisi corporis veniam excepturi vitae explicabo est quasi atque necessitatibus iusto libero exercitationem assumenda voluptatum molestias. Praesentium....</p>
                </div>
                <div class="about-col">
                    <h3>Vision</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio perspiciatis omnis quaerat harum modi fugit quo,praesentium tempora maiores Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in repellendus molestias
                        commodi molestiae nisi, consectetur quasi ut quas ex consequuntur delectus fugit quisqua officiis facilis eius et voluptates eligendi Lorem ipsum dolor sit amet consectetur adipisicing elit Repellendus earum placeat facere quasi beatae facilis ipsa esse, expedita totam inventore ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius, harum officia, saepe nisi corpor veniam excepturi vitae explicabo est quasi atque necessitatibus iusto libero
                        exercitationem assumenda voluptatum molestias. Praesentium.
                    </p>
                </div>
            </div>
    </section>

    
    
   <!-- Contact us -->
<footer>
    <h3>Contact-us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, ea rerum. Fugiat soluta incidunt accusamus,
        inventore ducimus a reprehenderit vitae?</p>
    <a href="contact.html">read more</a>
    <p>copyright &copy; 2021</p>
    <button><a class="go-up" href="#top">Go Up</a>
    </button>
</footer>
